body{
  position:relative;
}

.editors-right-side{
  /* display: inline-block; */
  /* vertical-align: middle; */
  width: 150px;
}

.editors-choice-content{
  /* display: inline-block; */
  position: absolute;
  top: 50%;
}

.editor-choice-side:after{
  content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.barranav{
  height: 42px;
  text-align: center;
  position: fixed;
	top: 0;
	left: 0;
  right: 0;
  vertical-align:middle;
  z-index: 2;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.pienav{
  height: 50px;
  background: lightblue;
  position: fixed;
	bottom: 0;
	left: 0;
  right: 0;
  z-index: 2;
}

main{
  margin-bottom: 70px;
}

header{
  margin-top: 70px;
}

.title{
  background-color: white;
  width: 387px;
  margin-left: 200px;
}

.picture{
  background-color: white;
  width: 900px;
  margin: auto;
}

.text-below-picture{
  background-color: white;
}

.editor-social-date-container{
  background-color: gray;
}

.editor-name{
  background-color: purple;
}

.social-media{
  background-color: lightgreen;
}

.date{
  background-color: lightblue;
}

.text-1{
  background-color: goldenrod;
}

.unblock-more-free-account{
  background-color: red;
}

.editors-right-side{
  background-color: transparent;
  position: absolute;
	top: 0;
  right: 0;
  height: 100%;
  z-index: 1;
}

.theory-of-inflation{
  background-color: darkgreen;
}

.text, .text-2{
  background-color: darkred;
}

.article-text-section, .story-meta .figure-1{
  background-color: pink;
  margin-left: auto;
  margin-right: auto;
}

.paragraphs-section, .yt-video-container ,.picture-container, .social-info-section, .editor-social-date-container{
  background-color: green;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.inflation-image-parent{
  background-color: green;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.inflation-img-container{
  position: relative;
}

.img-paragraph{
  width:225px;
  float:left;
  margin-top: 180px;
  /* position: absolute; */
  /* top:0;
  left:0; */
}

.small-hr{
  width: 70px;
  color: black;
  /* align: left; */
  margin-left: 0;
  /* float:left; */
  border: 0.5px solid black;
}

.img-auths{
  /* clear:left; */
}

.inflation-image-author{
  position:relative;
  float: left;
  top: -70px;
}

.paragraphs-container{
  position: absolute;
  top: 0;
  left:0;
  /* margin-top: -100px; */
}

.yt-video {
  width: 100%;
  height: 100%;
}

#picture-telescope{
  width: 600px;
}

.social-container-buttons li{
  display: inline-block;
}

.comments-button, .social-container-buttons{
 display: inline-block;
}

.bottom-menu-section-container, .bottom-menu-section{
  display: inline-block;
  vertical-align: top;
}

.bottom-menu-section-container{
  background-color: red;
  margin-bottom: 80px;
  width: 100%;
}

.bottom-menu-section{
  background-color: purple;
  width: 16.2%;
}

/* .bottom-menu-section{
  float:left;
} */

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.article-thumbnail-image{
 float: left;
 width: 300px;
}

.thumb-img{
  width: 100%;
}

.articles-thumbnails-container{
  /* content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden; */
  background-color: darkgray;
  width: 66vw;
}

/* .articles-thumbnails-container, .most-popular-container{
  display:inline-block;
} */

.articles-thumbnails-container{
  float:left;
  height: 300px;
}


.most-popular-container{
  background-color: pink;
  float: right;
  width: 31vw;
}

/* .thumbs-container:after{
  content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
} */

.other-articles-container:after{
  content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
  background-color: darkblue;
}

.thumbs-container{
  background-color: fuchsia;
  width: 66vw;
}

.img1 {
  background-color: red;
  /* float:left; */
}
.img2 {
  background-color: blue;
  /* float:left; */
}
.img3 {
  background-color: orange;
  /* float:left; */
}
.img4 {
  background-color: pink;
 /* clear:left; */
  /* float:left; */
}
.img5 {
  background-color: purple;
  /* float:left; */
}
.img6 {
  background-color: gray;
  /* float:left; */
}

#ui-icon{
  width: 8px;
}

#search-icon{
  width: 8px;
}

#nyt-logo{
  width: 220px;
}

.nav-left-buttons{
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

.nav-right-buttons{
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}

.space-cosmo{
 color: black;
 text-decoration: none;
}

.space-cosmo a{
  text-decoration: none;
  color: black;
}

.inflation-img{
  width: 100%;
}

#article-title{
  width: 387px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.title-picture{
  width: 900px;
}

.social-media, .date{
  display: inline-block;
}
