body{
  position:relative;
}

.editors-right-side{
  /* display: inline-block; */
  /* vertical-align: middle; */
  width: 150px;
}

.editors-choice-content{
  /* display: inline-block; */
  position: absolute;
  top: 50%;
}

.editor-choice-side:after{
  content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.barranav{
  height: 42px;
  text-align: center;
  position: fixed;
	top: 0;
	left: 0;
  right: 0;
  vertical-align:middle;
  z-index: 2;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.pienav{
  height: 50px;
  position: fixed;
	bottom: 0;
	left: 0;
  right: 0;
  z-index: 2;
  background-color: white;
  border: 0.25px black solid;
}

main{
  margin-bottom: 70px;
}

header{
  margin-top: 70px;
}

.title{
  background-color: white;
  width: 387px;
  margin-left: 200px;
}

.picture{
  background-color: white;
  width: 900px;
  margin: auto;
}

.text-below-picture{
  background-color: white;
}

.editor-name{
  margin-top: 30px;
  margin-bottom: 20px;
}


.text-1{
  background-color: goldenrod;
}
.text{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.unblock-more-free-account{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.unblock-text{
  font-weight: 500;
  font: bold;
}

.create-text{
  font-weight: 500;
  font: bold;
  color: darkblue;
}

.editors-right-side{
  background-color: transparent;
  position: absolute;
	top: 0;
  right: 0;
  height: 100%;
  z-index: 1;
}

.theory-of-inflation{
  background-color: white;
}

.article-text-section, .story-meta .figure-1{
  margin-left: auto;
  margin-right: auto;
}

.paragraphs-section, .yt-video-container ,.picture-container, .social-info-section, .editor-social-date-container{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.inflation-image-parent{
  background-color: white;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.inflation-img-container{
  position: relative;
}

.img-paragraph{
  width:225px;
  float:left;
  margin-top: 180px;
  /* position: absolute; */
  /* top:0;
  left:0; */
}

.small-hr{
  width: 70px;
  color: black;
  /* align: left; */
  margin-left: 0;
  /* float:left; */
  border: 0.5px solid black;
}

.img-auths{
  /* clear:left; */
}

.inflation-image-author{
  position:relative;
  float: left;
  top: -70px;
}

.paragraphs-container{
  position: absolute;
  top: 0;
  left:0;
  /* margin-top: -100px; */
}

.yt-video {
  width: 100%;
  height: 100%;
}

#picture-telescope{
  width: 600px;
}

.social-container-buttons li{
  display: inline-block;
}

.comments-button, .social-container-buttons{
 display: inline-block;
}

.social-container-buttons{
 margin-left: 35%;
}



.bottom-menu-section-container, .bottom-menu-section{
  display: inline-block;
  vertical-align: top;
}

.bottom-menu-foot li{
  display: inline-block;
}

.bottom-menu-section-container{
  background-color: white;
  margin-bottom: 80px;
  width: 100%;
  /* margin: auto; */
}

.bottom-menu-container{
  background-color: white;
  width: 93%;
  margin: auto;
}

.bottom-menu-section{
  background-color: white;
  width: 16.3%;
}

.bottom-menu{
  list-style-type: none;
}

.bottom-menu li{
  margin: 5px;
  font-family: arial;
  font-size: 13px;
}

.bottom-menu a:link {
  color:black;
  text-decoration: none;
}

/* visited link */
.bottom-menu a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
.bottom-menu a:hover {
  color: black;
  text-decoration: underline;
}

/* selected link */
.more-articles-heading a:active {
  color: black;
  text-decoration: underline;
}

/* .bottom-menu-section{
  float:left;
} */

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.article-thumbnail-image{
 box-sizing: border-box;
 float: left;
 width: 300px;
 height: 300px;
 padding: 10px;
}

.thumb-img{
  width: 100%;
}

.articles-thumbnails-container{
  /* content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden; */
  background-color: white;
  padding-left: 40px;
  width: 66vw;
}

/* .articles-thumbnails-container, .most-popular-container{
  display:inline-block;
} */

.articles-thumbnails-container{
  float:left;
}

.articles-thumbnails-container:after{
    content: ".";
  	display: block;
  	height: 0;
  	clear: both;
  	visibility: hidden;
}

.most-popular-container{
  background-color: white;
  float: right;
  margin-right: 40px;
  width: 24vw;
}

.most-popular-container:after{
  content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.thumbs-container:after{
  content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.other-articles-container:after{
  content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
  background-color: white;
}

.other-articles-container{
  background-color: white;
}

.thumbs-container{
  background-color: white;
  width: 66vw;
}

#ui-icon{
  width: 8px;
}

#search-icon{
  width: 8px;
}

#nyt-logo{
  width: 220px;
}

.nav-left-buttons{
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

.nav-right-buttons{
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}

.space-cosmo{
 color: black;
 text-decoration: none;
}

.space-cosmo a{
  text-decoration: none;
  color: black;
}

.inflation-img{
  width: 100%;
}

#article-title{
  width: 387px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.title-picture{
  width: 900px;
}

.social-media, .date{
  display: inline-block;
}

.icons-buttons{
  width: 18px;
}

.social-media{
  float: right;
}

.date{
  float: left;
}

.date-social:after{
  content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.big-hr{
  width: 98%;
  border: 0.5px solid black;
}

.more-articles-heading{
  margin-left:10px;
  /* margin-bottom: -10px; */
  font-family: arial;
  font-size: 16px;
}

.most-popular-heading{
  /* margin-bottom: -10px; */
  font-family: arial;
  font-size: 16px;
}

.more-articles-heading a:link {
  color:black;
  text-decoration: none;
}

/* visited link */
.more-articles-heading a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
.more-articles-heading a:hover {
  color: black;
  text-decoration: underline;
}

/* selected link */
.more-articles-heading a:active {
  color: black;
  text-decoration: underline;
}


.thumb-author{
  text-align: right;
  font-size: 12px;
  color: gray;
}

.thumb-title a{
  text-decoration: none;
  font-size: 19px;
  font-weight: 500;
  /* color: black; */
}

.thumb-date{
  font-size: 12px;
  color: gray;
}

/* unvisited link */
.thumb-title a:link {
  color:black;
}

/* visited link */
.thumb-title a:visited {
  color: black;
}

/* mouse over link */
.thumb-title a:hover {
  color: darkgray;
}

/* selected link */
.thumb-title a:active {
  color: darkgray;
}

#footer-title{
  font-size: 16px;
  text-align: center;
  margin-top: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.big-hr-gray{
      width: 98%;
    border: 0.5px solid lightgray;
}

.big-hr-gray-2{
      width: 100%;
    border: 1px solid lightgray;
}

.list-heading{
  font-family: arial;
  font-size: 13px;
  font-weight: 750;
  margin-bottom: 8px;
}
